In [1]:
import pandas as pd
impot

In [2]:
asg = pd.read_csv("data/ASG_Dates.csv")

In [3]:
att = pd.read_csv("data/Attendance_and_Capacity_Data.csv")

In [4]:
dma = pd.read_csv("data/End_of_Season_WPct.csv")

In [5]:
end = pd.read_csv("data/Game_Data.csv")

In [6]:
gam = pd.read_csv("data/Game_Data.csv")

In [7]:
jer = pd.read_csv("data/Jersey_Sales_Rankings_Data.csv")

In [8]:
nat = pd.read_csv("data/National_Ratings.csv")
# lea = pd.read_csv("data/League_EV_Data.xlsx")

In [9]:
pct = pd.read_csv("data/Pct_Indy_Tix_Sold.csv")

//anaconda/envs/python2env/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
pla = pd.read_csv("data/Player_Data.csv")

In [11]:
rsn = pd.read_csv("data/RSN_Ratings.csv")

In [12]:
tea = pd.read_csv("data/Team_Abbreviations.csv")

In [13]:
web = pd.read_csv("data/Web_Metrics.csv")

In [14]:
wpc = pd.read_csv("data/WPct_by_Day.csv")

In [15]:
pct.head()

  Home Away   Game_Date Current_Date Pct_Indy_Tix_Sold
0  DAL  WAS  2010-10-05   2010-09-07                 0
1  DAL  WAS  2010-10-05   2010-09-08       0.125412541
2  DAL  WAS  2010-10-05   2010-09-10       0.132013201
3  DAL  WAS  2010-10-05   2010-09-11       0.184818482
4  DAL  WAS  2010-10-05   2010-09-12       0.198019802

In [19]:
pct.types()

AttributeError: 'DataFrame' object has no attribute 'types'

In [21]:
np.isNan(pct['Pct_Indy_Tix_Sold'])

NameError: name 'np' is not defined